@import "tailwindcss";

@layer base {
  body {
    background-color: #f3f4f6; /* bg-gray-100 */
    font-family: 'Arial', 'Helvetica', sans-serif;
  }
}

@layer components {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
footer {
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05);
}